.porfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.porfolio_item {
    background-color: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 3rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.porfolio_item:hover {
    border-color: var(--color-primary-variant);
    background-color: transparent;
}

.porfolio_item_image {
    border-radius: 1rem;
    overflow: hidden;
}

.porfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item_cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .porfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 650px) {
    .porfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}